@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  background-color: hsl(212, 45%, 89%);
  font-family: 'Outfit', sans-serif;
  height: calc(100vh - 1px);
}

h1 {
  font-size: 22px;
  color: #1f314f;
}

p {
  font-size: 15px;
  color: #7d889e;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  text-align: center;
  background-color: hsl(0, 0%, 100%);
  padding: 1.25rem;
  width: 320px;
  border-radius: 18px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

img {
  max-width: 100%;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 500px) {
  .container {
    width: 400px;
  }
}
